body {
    margin: 0;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;

    /* background image code */
    background-image:url("./img/sky.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pink {
    height: 30vh;
    width: 60vw;
    /* display: flex; */
    align-self: center;
    justify-content: center;
    border: 10px groove gray;
    box-shadow: 15px 15px #FD6B56;
    border-radius: 25px;
}
.pink {
    background-color: #CFB5B7;
}
h1 {
    color: #fb2908;
    font-weight: bold;
    text-align: center;
}
.button {
    background-color: #FD6B56;
    border: none;
    color: black;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
/* less than or equal to */
@media (max-height: 500px){
    label {
      font-size: 10px;
    }
    .user-info {
        font-size: 10px;
    }
    .button {
        font-size: 10px;
    }
    h1 {
        font-size: 10px;
    }
}
/* grater than or equal to */
@media (min-height: 505px) {
    label {
        font-size: 20px;
      }
      .user-info {
          font-size: 20px;
      }
      .button {
        font-size: 20px;
      }  
      h1 {
        font-size: 20px;
    }
}
/* getting rid of color */
fieldset {
    border: 0;
}

/* need to use flex-shrink / flex-grow past a certain amount of width / height */