body {
    margin: 0;
}
.container {
    display: flex;
    border: 5px solid blue;
    height: 100vh;
    width: 100vw;
    justify-content: center;

    /* background image code */
    background-image:url("./img/sky.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pink {
    display: flex;
    height: 25vh;
    width: 50vw;
    width: 50%;
    height: 25%;
    align-self: center;
    justify-content: center;
    border: 10px groove gray;
    box-shadow: 15px 15px #f3a9d9;
}
.pink {
    background-color: pink;
}
h1 {
    /* display: flex;
    align-self: flex-start;  */
    font-size: 20px;
    color: #7377ea;
    font-weight: bold;
    text-align: center;
    align-self: center;
}
.button {
    background-color: #f3a9d9;
    border: none;
    color: #7377ea;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    height: 10vh;
    width: 10vw;
    flex-direction: column;
}
/* ask about position of button */
/* having trouble with positioning items */
/* need to gain an understanding */